@import url('https://fonts.googleapis.com/css2?family=Allura:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

html {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6;
  color: #0b1354;
  background-color: #f9d1d1;
}
body {
  margin: 0;
}

button {
  corner-shape: round;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  border: #f9d1d1;
  background-color: #f765a3;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
}
#firstsection {
  background-color: #d2f4fd;
  transition: opacity 0.5s ease;
  font-weight: bold;
  font-size: 70px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-height: 100dvh;
  justify-content: center;
  align-items: center;
}

.paper {
    position: absolute;
    width: 98%;
    height: auto;
    z-index: 0;
    margin-bottom: 10px;
}

#firstsection p {
  font-family: 'Mea Culpa', 'Allura', cursive;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  z-index: 1;
}

#firstsection button {
  margin-bottom: 20px;
  z-index: 1;
}
#secondsection {
  transition: opacity 0.5s ease;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secondsectionfix {
  width: 90%;
  max-width: 800px;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #f765a3;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(74, 56, 40, 0.5);
}
#thirdsection {
  background-color: #B7E9F7 ;
  transition: opacity 0.5s ease;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thirdsection p {
  font-size: large;
  font-weight: bold;
}
#videosection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
#videosection video {
  width: 15%;
}

#thirdbutton {
  margin-top: 20px;
}

#fourthsection {
  background-color: #C0AFE2 ;
  transition: opacity 0.5s ease;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.envelope {
  background: none;
  border: none;
  padding: 0;
  margin: 10%;
  appearance: none;
}

.envelope img {
  width: 150px;
  height: auto;
  transition: transform 0.2s ease;
}
.envelope:hover img {
  transform: scale(1.05);
}

#envelopesection {
  transition: opacity 0.5s ease;
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 800px;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

.messages {
  background-color: #f9d1d1;
  padding: 20px;
  border: 2px solid #f765a3;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(74, 56, 40, 0.5);
  width: 90%;
  max-width: 800px;
}

#letterquestions,
#videoquestions {
  transition: opacity 0.5s ease;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#letterquestions p,
#videoquestions p {
  font-size: 40px;
  padding: 20px;
  border: 2px solid #f765a3;
  border-radius: 20px;
  box-shadow: 1px 1px 20px rgba(74, 56, 40, 0.5);
}
#letterquestionsoptions,
#videoquestionsoptions {
  flex-direction: row;
}